body {
    color: white;
    background-color: black;
    font-family: 'helvetica';
}
/* Burger */
.burger{
    position: fixed;
    top: 1em;
    left: 1em;
    z-index: 13;
}
.logo{
    display: inline;
    margin: 0.5em;
    position: relative;
    top: 0.2em;
}
.burger-item{
    color: white;
    font-size: 1.5em;
    font-weight: bold;
}
.burger-black{
    background-color: black;
    position: fixed;
    padding: 1em 5em 5em 1em;
    z-index: 13;
    border-radius: 0px 200px 200px 200px;
}

/* Hero */
.overlay { 
    position:absolute;
    z-index:12;
    top:10em;
    width:100%;
    text-align:center;
}
.hero-headline{
    width: 500px;
    margin: auto;
}
.cta-btn1{
    color: white;
    border: 0px;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 40px;
    background-image: linear-gradient(to right, #1FE1E9, #5E33D1, #D34848, #FFB33F);
}

/* Red section */
.red {
    background-color: #D34848;
}
.speaker-pic{
    width: 10em;
}
.speaker1{
    position: relative;
    text-align: center;
    top: 7em;
}
.speaker2{
    position: relative;
    text-align: center;
    left: 6em;
}
.cta-btn2{
    color: #D34848;
    border: 0px;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 40px;
}